/* Main typographic styles */
body{font:normal 12px/100% Helvetica,Arial,sans-serif;color:#333;}
p{margin:10px 0 20px;}
strong{font-weight:bold;}
code{font-family:'Courier New',Courier,Fixed;}
acronym,abbr,span.caps{cursor:help;}
acronym,abbr{border-bottom:1px dashed #999;}
acronym{font-variant:small-caps;}
em{font-style:italic;}
small{font-size:0.8em;}
h1{font-size:20px;height:16px;margin-bottom:15px;}
h2{font-size:30px;font-weight:bold;color:#880909;margin-bottom:10px;}
hr{display:none;}
/* Links */
a:link, a:visited, a:active{color:#000;outline:none;}
a:hover{color:#666;}

/* Home */
#home ul{margin-top:30px;}
#home ul li{padding-left:20px;margin-bottom:10px;}

/*-------------------------*
 * Form style -------------*
 *-------------------------*/
.ss-form-container{margin:0 auto;padding:30px 29px;}

label{font-weight:bold;color:#880909;display:block;}
.ss-form-entry label.ss-q-title{font-weight:normal;color:#333;display:inline-block; width: 150px;}
.ss-form-entry label.ss-q-help{font-weight:normal;color:#333;display:inline;}
.ss-required-asterisk{display:inline; color:red;}


.ss-item{margin-bottom:5px;}

/*.ss-text{float:left;}*/

.ss-item.ss-text input{background:white;height:20px;font-size:14px;border:1px solid #737373;width:300px;}

/* Textarea */
.ss-paragraph-text textarea{background:white;border:1px solid #333;width:758px;height:100px;}


/* Highlighted */
.ss-checkbox{background:#ecf1f3;margin:0 -20px;margin-bottom:20px;padding:10px 20px 10px 20px;border-top:1px solid #a9b4b8;border-bottom:1px solid #a9b4b8;}
.ss-checkbox label{font-weight:normal;color:#333;display:inline;}
.ss-checkbox .ss-q-checkbox{width:auto !important;margin-right:10px;}

/* Table radio buttons*/
.errorbox-component{margin-bottom:30px;border:1px solid #333;}
.ss-grid table{width:100%;}
label.ss-gridnumber{text-align:center;margin-left:-10px;}
.ss-q-radio{width:100px !important;}
.ss-grid .ss-form-entry input{height:18px;}
.ss-leftlabel{text-align:right;background:#c0cacc;padding:5px;border-right:1px solid #a9b4b8;}
thead{background:#c0cacc;height:30px;border-bottom:1px solid #a9b4b8;}
.ss-grid-row-odd, .ss-grid-row, .ss-q-radio{background:#fff !important;}
.ss-grid-row-even{background:#eee;}

.ss-navigate input{width:auto; border: auto}


/* Submit button */

/* Errors */
.errorbox-bad input, .errorbox-bad textarea, li.error input, li.error textarea{border-color:red;}
